.skills{
    div{
     flex: 1;
     .img-card{
        padding: 5px;
        border: 1px solid white;
        border-radius: 8px;
        
        &:hover{
            box-shadow: 3px 3px red, -0.2em -0.1em .4em rgb(247, 247, 244);
        }
     }
        img{
            width: 75px; 
            aspect-ratio: 1;
            }
    }
}