
.nav{
    
  
    width: 100%;
    position: absolute;
bottom: 10px;

    .wrapper{
       
        margin-inline: auto;
    }
    .card{
        width:130px;
        aspect-ratio: 1;
     
        span{
            border: 1px solid whitesmoke;
            border-radius: 8px;
            color: white;
            font-size: 17px;
            padding: 6px;
        }

    }
    img{
        width: 55px;
        aspect-ratio: 1;
    }

    a{
        text-decoration: none;
    }
}