body {
  height: 100vh;
  overflow: hidden;
}

.phone {
  height: 100%;
}
.desktop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .screen {
    width: 80%;
    height: 90%;

    margin-inline: auto;

    border-radius: 6px;
    position: relative;

    box-shadow: 0px 10px 13px -7px #000000, 0 -10px 13px -7px #000000;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2%;
      mask-image: url("./assets/curved.svg");
      mask-size: 100% 100%;
    }
    &::before {
      top: 0;
      background-color: #1a0933;
    }
    &::after {
      bottom: 0;
      transform: rotate(0.5turn);
      background-color: #13133e;
    }
    .turnOn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 50%;
      right: 13%;
      bottom: -2px;
      width: 20px;
      aspect-ratio: 1;
      z-index: 4;
    }

    .content {
      height: 100%;
    }
  }
  .screenON {
    background: url(./assets/2109.jpg) no-repeat center center / cover;
  }
  .screenOff {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9878326330532213) 11%,
      rgba(0, 0, 0, 1) 20%,
      rgba(255, 255, 255, 0.09147408963585435) 49%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 1) 89%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
